/*Fuente de la letra*/
@font-face {
    font-family: "Font Squirrel: Source Sans Pro";
    src: url("../fuente/SourceSansPro-Regular.otf");
}
/*Características generales*/
body{
    margin: 0;
    padding: 0;
    font-family: "Font Squirrel: Source Sans Pro",sans-serif;
}
.breadcrumb {
    padding: 0 0.5rem;
}
.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;
}
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: ">";
}
*{
    color: #000000;
}
header > nav a, a{
    text-decoration: none;
}
header > nav a:hover, header > h1 a:hover{
    color: rgba(0, 0, 0, 0.5);
}
header > nav {
    font-weight: bold;
    text-transform: uppercase;
}
footer{
    background-color: #000000;
    padding-bottom: 10px;
}
footer a, footer p{
    color: rgb(255, 255, 255);
}
footer p{
    margin: 0;
    padding: 0;
}
footer a:hover {
    color: rgb(222, 35, 51);
}
.redes a:hover {
    opacity: 0.7;
}
ul li{
    list-style-type: none;
}
p a {
    color: rgb(222, 35, 51);
    font-weight: bold;
}
p a:hover{
    color: rgb(0, 0, 0);
    text-decoration: solid;
}
.al-dia h3{
    color: #DE2333;
}
.a-red, .a-red a{
    color: rgb(222, 35, 51);
}
.a-red:hover, .a-red:hover a{
    color: rgb(0, 0, 0);
}
.pag-actual {
    color: #DE2333;
}
#bold{
    font-weight: bolder;
    margin-right: 5px;
}
q::before {
    content: "«";
} 
q::after {
    content: "»";
}
.bread li::before {
    content: "> ";
    color: rgb(222, 35, 51);;
}
.aplicaciones-ia article, .pelicula, .que-es-depacho-42, textarea, .grey{
    background-color: #F4F6F7;
}
.aplicaciones-ia ol {
    list-style-type: none;
}
h1{
    font-size: 3em;
    letter-spacing: -0.1em;
}
nav ul > li > a{
    letter-spacing: 1px;
}
.titulo {
    text-align: center;
    font-weight: bolder;
    font-size: 1.8em;
}
.titulo-peli{
    font-weight: bold;
    font-style: italic;
}
h2{
    text-align: center;
}
footer{
    padding-bottom: 40px;
}
input, textarea{
    border: none;
}
form a {
    color: #DE2333;
}
form a:hover {
    color: rgb(0, 0, 0);
}
input[type="submit"]{
    background-color: #DE2333;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
/*sticky nav*/
header > nav {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 100;
}
.contenedor {
    height: 150vh;
}
/* Estilos generales */
/* Para mobiles */
@media (max-width: 600px){
    *{
        overflow-x: hidden;
    }
    body{
        width: 100%;
    }
    /*Para todos los headers de los .html*/
    header{
        text-align: center;
    }
    nav {
        padding: 0 40px 10px 10px;
    }
    nav ul > li{
        padding-bottom: 10px;
    }
    /*Para todos los footers de los .html*/
    footer {
        text-align: center;
    }
    .info{
        padding: 25px 5px 0 0;
    }
    .redes{
        padding: 0;
    }
    footer .redes li{
        display: inline-block;
    }
}
/* Para tablets */
@media (min-width: 601px) and (max-width: 1024px){
    *{
        overflow-x: hidden;
    }
    body {
        width: 100%;
    }
    /*Para todos los headers de los .html*/
    header{
        text-align: center;
    }
    nav {
        padding: 0 40px 10px 10px;
    }
    nav ul > li{
        padding-bottom: 10px;
    }
    /*Para todos los footers de los .html*/
    .info{
        padding: 25px 5px 0 0;
    }
    .redes{
        padding: 0;
    }
    footer .redes li{
        display: inline-block;
    }
    footer {
        text-align: center;
    }
}
/* Para ordenadores */
@media (min-width: 1025px){
    *{
        overflow-x: hidden;
    }
    body{
        width: 100%;
    }
    /*Para todos los headers de los .html*/
    header{
        text-align: left;
        padding: 0 150px 20px;
    }
    nav {
        padding: 0 40px 10px 10px;
    }
    nav ul > li{
        padding-bottom: 10px;
        padding-right: 10px;
        display: inline-block;
    }
    h1{
        padding: 0 0 0 45px;
    }
    /*Para todos los footers de los .html*/
    footer {
        text-align: left;
    }
    .info{
        padding: 25px 200px;
        list-style-type: disc;
    }
    .info li {
        display: inline-block;
        margin: 0 10px;
    }
    .redes, footer p{
        padding: 0 210px;
        text-align: left;
    }
    footer .redes li{
        display: inline-block;
    }
}

/*index.html*/
@media (max-width: 600px){
    .noticias-recursos {
        background-image: url("../img/bg-hero-home-m.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: auto;
        height: 200px;
    }
    .noticias-recursos > p {
        color: #FFFFFF;
        padding: 40px;
        font-size: 1.5em;
        text-align: center;
    }
    .p-ia + p, .p-ia {
        padding: 0 20px;
    }
    figure img {
        width: 100%;
        height: 100%;
    }
    figure > figcaption{
        padding: 20px 0 0;
    }
    article h3, article p {
        padding: 0 40px;
    }
    article h3 {
        font-size: 1.5em;
        font-weight: bolder;
    }
    .bread {
        padding-bottom: 20px;
    }
}
/* Para tablets */
@media (min-width: 601px) and (max-width: 1024px){
    .noticias-recursos {
        background-image: url("../img/bg-hero-home-m.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: auto;
        height: 300px;
    }

    .noticias-recursos > p {
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3em;
        text-align: center;
        padding: 0 100px;
        margin-top: 80px;
    }
    .p-ia + p, .p-ia {
        padding: 0 20px;
    }
    figure img {
        width: 100%;
        height: 100%;
    }
    figure > figcaption{
        padding: 20px 0 0;
    }
    article h3, article p {
        padding: 0 40px;
    }
    article h3 {
        font-size: 1.5em;
        font-weight: bolder;
    }
    .bread {
        padding-bottom: 20px;
    }
    .al-dia {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* Para ordenadores */
@media (min-width: 1025px){
    .noticias-recursos {
        background-image: url("../img/bg-hero-home.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 1624px;
        height: 300px;
    }
    .noticias-recursos > p {
        color: #FFFFFF;
        font-size: 3em;
        text-align: center;
        padding-top: 50px;
        padding-right: 500px;
        padding-left: 500px;
        margin: 15px;
    }
    .p-ia, .p-ia + p {
        padding: 0 400px;
        font-size: 1.42em;
        line-height: 35px;
    }
    figure img {
        width: 100%;
        height: 100%;
    }
    figure > figcaption{
        padding: 20px 0 0;
    }
    article h3, article p {
        padding: 0 40px;
    }
    article h3 {
        font-size: 1.5em;
        font-weight: bolder;
    }
    .bread {
        padding-bottom: 20px;
    }
    .al-dia {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 200px;
    }
}


/*aplicaciones.html*/
@media (max-width: 600px){
    .aplicaciones-ia h2{
        font-size: 2em;
        font-weight: bolder;
    }
    .aplicaciones-ia li {
        padding: 10px 20px;
    }
    .aplicaciones-ia ol {
        padding: 0;
    }
    .aplicaciones-ia div{
        padding: 20px;
    }
}
/* Para tablets */
@media (min-width: 601px) and (max-width: 1024px){
    .aplicaciones-ia h2{
        font-size: 2em;
        font-weight: bolder;
    }
    .aplicaciones-ia ol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding: 0;
    }
    ol > li{
        padding: 10px
    }
}
/* Para ordenadores */
@media (min-width: 1025px){
    .aplicaciones-ia h2{
        font-size: 2em;
        font-weight: bolder;
    }
    .aplicaciones-ia h3{
        font-size: 1.5em;
    }
    .aplicaciones-ia ol {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        padding: 0 200px 20px;
    }
    ol > li{
        padding: 10px
    }
}


/*en-el-cine.html*/
@media (max-width: 600px){
    .pelicula iframe {
        width: 100%;
        height: 200px;
    }
    .pelicula{
        padding: 20px 0;
        margin: 0 20px;
    }
    .peliculas-ia h2{
        font-size: 2em;
        font-weight: bolder;
        padding: 25px;
    }
    .peliculas-ia div{
        padding-bottom: 20px;
    }
}
/* Para tablets */
@media (min-width: 601px) and (max-width: 1024px){
    .pelicula{
        padding: 20px 0;
        margin: 0 20px;
    }
    .pelicula iframe {
        width: 100%;
        height: 400px;
    }
    .peliculas-ia h2{
        font-size: 2em;
        font-weight: bolder;
        padding: 25px;
    }
    .peliculas-ia div{
        padding-bottom: 30px;
    }
}
/* Para ordenadores */
@media (min-width: 1025px){
    .peliculas-ia h2{
        font-size: 2em;
        font-weight: bolder;
        padding: 25px;
    }
    .wrapper-films{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 150px;
    }
}

/*despacho-42.html*/
@media (max-width: 600px){
    .despacho-42 > figure{
        margin: 30px 20px;
    }
    .despacho-42 figure figcaption{
        padding: 10px 0 0;
    }
    small span {
        margin: 0 15px;
    }
    .ia-y-arte p{
        padding: 0 20px;
    }
    .ia-y-arte h2{
        font-size: 2em;
        padding: 0 25px;
        text-align: left;
    }
    .ia-y-arte h3, .ia-y-arte h4{
        font-size: 1.5em;
        padding: 0 20px;
    }
    .que-es-depacho-42 {
        margin-top: 40px;
    }
    .que-es-depacho-42 img {
        padding: 15px;
        padding-bottom: 0;
        width: 20%;
        border-radius: 30%;
    }
    .que-es-depacho-42 h2, .que-es-depacho-42 h3{
        font-size: 2em;
    }
    .que-es-depacho-42 h2, .que-es-depacho-42 p, .que-es-depacho-42 h3, .que-es-depacho-42 .bread{
        padding: 0 30px;
    }
    .container-form h2{
        font-size: 2em;
        padding: 0 20px;
        text-align: left;
    }
    .container-form form, .container-form p{
        padding: 0 20px;
    }
    .container-form form label {
        display: block;
        margin-top: 15px;
    }
    .elemento-check .privacidad{
        display: inline-block;
    }
    textarea{
        width: 100%;
        height: 100px;
    }
    input[type="text"], input[type="email"]{
        width: 100%;
        height: 30px;
    }
    input[type="submit"]{
        margin-top: 20px;
        padding: 5px;
        height: 30px;
    }
    aside img{
        width: 20%;
        border-radius: 50%;
    }
    .aside-article{
        display: flex;
        flex-direction: row;
        border-bottom: #000000 dotted 1px;
    }
    .aside-article > img{
        padding: 10px;
    }
    .wrapper-aside {
        padding: 5px 0 30px 0;
    }
}
/* Para tablets */
@media (min-width: 601px) and (max-width: 1024px){
    .despacho-42 > figure{
        margin: 30px 20px;
    }
    .despacho-42 figure figcaption{
        padding: 10px 0 0;
    }
    small span {
        margin: 0 15px;
    }
    .ia-y-arte p{
        padding: 0 20px;
    }
    .ia-y-arte h2{
        font-size: 2em;
        padding: 0 25px;
        text-align: left;
    }
    .ia-y-arte h3, .ia-y-arte h4{
        font-size: 1.5em;
        padding: 0 20px;
    }
    .que-es-depacho-42 {
        margin-top: 40px;
    }
    .que-es-depacho-42 img {
        padding: 10px;
        padding-bottom: 0;
        width: 10%;
        border-radius: 30%;
    }
    .que-es-depacho-42 h2, .que-es-depacho-42 h3{
        font-size: 2em;
    }
    .que-es-depacho-42 h2, .que-es-depacho-42 p, .que-es-depacho-42 h3, .que-es-depacho-42 .bread{
        padding: 0 20px;
    }
    .container-form h2{
        font-size: 2em;
        padding: 0 20px;
        text-align: left;
    }
    .container-form form, .container-form p{
        padding: 0 20px;
    }
    .container-form form label {
        display: block;
        margin-top: 15px;
    }
    .elemento-check .privacidad{
        display: inline-block;
    }
    textarea{
        width: 100%;
        height: 100px;
    }
    input[type="text"], input[type="email"]{
        width: 100%;
        height: 30px;
    }
    input[type="submit"]{
        margin-top: 20px;
        padding: 5px;
        height: 30px;
    }
    aside img{
        width: 20%;
        border-radius: 50%;
    }
    .aside-article{
        display: flex;
        flex-direction: row;
        border-bottom: #000000 dotted 1px;
    }
    .aside-article > img{
        padding: 10px;
    }
    .wrapper-aside {
        padding: 5px 80px 30px 80px;
    }
    .barra-lateral h2{
        font-size: 1.5em;
        text-align: left;
        padding: 0 80px;
    }
}
/* Para ordenadores */
@media (min-width: 1025px){
    .despacho-42 > figure{
        width: 50%;
        margin: 30px 85px;
        padding: 20px 80px;
    }
    .despacho-42 figure figcaption{
        padding: 10px 0 0;
    }
    .despacho-42 nav {
        padding: 0 135px;
        margin: 0 20px;
    }
    small span {
        margin: 0 15px;
    }
    .ia-y-arte p{
        padding: 0 85px;
        width: 50%;
        margin: 20px 80px;
    }
    .ia-y-arte h2{
        font-size: 2em;
        padding: 0 85px;
        text-align: left;
        width: 50%;
        margin: 0 80px;
    }
    .ia-y-arte h3, .ia-y-arte h4{
        font-size: 1.5em;
        padding: 0 90px;
        width: 50%;
        margin: 0 80px;
    }
    .que-es-depacho-42 {
        margin-top: 40px;
        width: 70%;
        margin: 0 120px;
    }
    .que-es-depacho-42 img {
        padding: 15px;
        padding-bottom: 0;
        width: 10%;
        border-radius: 30%;
    }
    .que-es-depacho-42 h2, .que-es-depacho-42 h3{
        font-size: 2em;
    }
    .que-es-depacho-42 {
        display: flex;
        flex-direction: row;
    }
    .que-es-depacho-42 h2, .que-es-depacho-42 p, .que-es-depacho-42 h3, .que-es-depacho-42 .bread{
        padding: 0 30px;
    }
    .despacho-42-wrapper {
        display: flex;
        gap: 15px;
        align-items: flex-start;
    }
    .despacho-42-content {
        flex: 1;
        margin: 0;
        padding: 0;
    }
    .despacho-42 h2 {
        text-align: left;
    }
    .container-form h2{
        font-size: 2em;
        padding: 0 20px;
        text-align: left;
        margin-top: 40px;
        width: 50%;
        margin: 20px 120px;
    }
    .container-form form, .container-form p{
        padding: 0 20px;
        margin-top: 40px;
        width: 50%;
        margin: 0 120px;
    }
    .container-form form label {
        display: block;
        margin-top: 15px;
    }
    .elemento-check .privacidad{
        display: inline-block;
    }
    textarea{
        width: 100%;
        height: 100px;
    }
    input[type="text"], input[type="email"]{
        width: 100%;
        height: 30px;
    }
    input[type="submit"]{
        margin-top: 20px;
        padding: 5px;
        height: 30px;
    }
    aside img{
        width: 10%;
        border-radius: 50%;
    }
    .aside-article{
        display: flex;
        gap: 15px;
        align-items: flex-start;
        border-bottom: #000000 dotted 1px;
        margin: 10px 120px;
    }
    .aside-article > img{
        padding: 10px;
    }
    .wrapper-aside {
        padding: 5px 0 30px 0;
    }
    /*Para el aside en formato para ordenadores no me ha sido posible hacerlo de la misma 
    manera de la que está establecida en el mockup para escritorio de despacho-42*/
}